/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* line 5, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/* line 18, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 25, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
audio:not([controls]) {
  display: none;
  height: 0;
}
/* line 29, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
[hidden] {
  display: none;
}
/* line 32, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* line 37, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/* line 44, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
body {
  margin: 0;
}
/* line 47, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
a:focus {
  outline: thin dotted;
}
/* line 50, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
a:hover,
a:active {
  outline: 0;
}
/* line 54, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* line 58, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
/* line 62, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
/* line 66, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
/* line 70, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
/* line 74, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/* line 78, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
abbr[title] {
  border-bottom: 1px dotted;
}
/* line 81, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
b,
strong {
  font-weight: bold;
}
/* line 85, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
blockquote {
  margin: 1em 40px;
}
/* line 88, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
dfn {
  font-style: italic;
}
/* line 91, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
mark {
  background: #ff0;
  color: #000;
}
/* line 95, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
p,
pre {
  margin: 1em 0;
}
/* line 99, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/* line 107, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* line 112, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
q {
  quotes: none;
}
/* line 115, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
q:before,
q:after {
  content: '';
  content: none;
}
/* line 120, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
small {
  font-size: 75%;
}
/* line 123, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 130, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
sup {
  top: -0.5em;
}
/* line 133, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
sub {
  bottom: -0.25em;
}
/* line 136, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
/* line 142, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
dd {
  margin: 0 0 0 40px;
}
/* line 145, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/* line 150, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* line 155, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 159, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
svg:not(:root) {
  overflow: hidden;
}
/* line 162, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
figure {
  margin: 0;
}
/* line 165, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
form {
  margin: 0;
}
/* line 168, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/* line 173, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
/* line 179, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/* line 188, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
button,
input {
  line-height: normal;
}
/* line 192, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
/* line 200, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
button[disabled],
input[disabled] {
  cursor: default;
}
/* line 204, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
/* line 211, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 217, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/* line 221, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 226, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
textarea {
  overflow: auto;
  vertical-align: top;
}
/* line 230, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
/* line 240, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* line 260, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* line 264, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
body {
  line-height: 1;
}
/* line 267, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
ol,
ul {
  list-style: none;
}
/* line 270, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
blockquote,
q {
  quotes: none;
}
/* line 273, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* line 278, /Users/mac/GitHub/joshua.js/dev/less/resets.less */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 6, index.less */
html,
body {
  width: 100%;
  height: 100%;
}
/* line 12, index.less */
.joshua-js {
  padding: 1%;
}
/* line 15, index.less */
.joshua-js h2 {
  font-size: 40px;
  color: blue;
}
/* line 19, index.less */
.joshua-js input {
  margin-bottom: 5px;
}
/* line 24, index.less */
#teletext {
  overflow: hidden;
}
/* line 27, index.less */
#teletext .js-teletext {
  width: 400px;
  height: 500px;
  outline: 5px dashed gray;
  margin: 20px auto;
}
/* line 34, index.less */
#teletext .js-teletext .teletext-item:nth-child(1) {
  background-color: red;
}
/* line 37, index.less */
#teletext .js-teletext .teletext-item:nth-child(2) {
  background-color: yellow;
}
/* line 40, index.less */
#teletext .js-teletext .teletext-item:nth-child(3) {
  background-color: blue;
}
/* line 43, index.less */
#teletext .js-teletext .teletext-item:nth-child(4) {
  background-color: green;
}
/* line 46, index.less */
#teletext .js-teletext .teletext-item:nth-child(5) {
  background-color: pink;
}
/* line 53, index.less */
#sprite {
  background-color: black;
}
/* line 56, index.less */
#sprite .js-sprite1 {
  width: 300px;
  height: 291px;
}
/* line 62, index.less */
#picture {
  background-color: pink;
}
/* line 65, index.less */
#picture .js-picture {
  display: inline-block;
}
/* line 70, index.less */
#smooth_mousewheel {
  background-color: green;
}
/*# sourceMappingURL=index.css.map */